*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

DiaphragmSample/.idea/compiler.xml

DiaphragmSample/.idea/copyright/profiles_settings.xml

DiaphragmSample/.idea/encodings.xml

DiaphragmSample/.idea/gradle.xml

DiaphragmSample/.idea/misc.xml

DiaphragmSample/.idea/modules.xml

DiaphragmSample/.idea/runConfigurations.xml

DiaphragmSample/.idea/vcs.xml
